:root {
    --cells-per-row: 80
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playarea {
    display: grid;
    grid-template-columns: repeat(var(--cells-per-row), 1fr);
    justify-content: center;
    gap: 1px;
    width: calc(var(--cells-per-row) * 11px);
}
.cell {
    min-width: 10px;
    min-height: 10px;
    background-color: cadetblue;
    cursor: pointer;
}
.cell:hover {
    background-color: brown;
}

.cell.selected {
    background-color: chartreuse;
}
.cell.selected:hover {
    background-color: cadetblue;
}
button {
    margin: 10px;
}