body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 113%;
}

.content {
    max-width: 66ch;
    min-width: 28ch;
    padding: 15px;
    margin: 0 auto;
}

p {
    line-height: 1.45;
    margin: 0 0 1.5rem 0;
}

h1 {
    word-spacing: -0.125rem;
    font-size: 3rem;
    font-weight: 400;
    margin: 1rem 0 1.5rem 0;
}

h2 {
    word-spacing: -0.125rem;
    font-size: 2rem;
    font-weight: 400;
    margin: 1.8rem 0 1rem 0;
}

h3 {
    word-spacing: -0.125rem;
    font-size: 1.3rm;
    font-weight: 400;
    margin: 1.6rem 0 0.8rem 0;
}


ul {
    margin-bottom: 2rem;
    line-height: 1.45;
}

li {
    margin-bottom: 0.8rem;
}

blockquote {
    border-left: 1px black solid;
    padding-left: 2rem;
    margin: 2rem;
}

figure:has(img) {
    text-align: center;
    font-size: 0.8rem;
    margin: 0;
    padding: 2rem 0;
}

.portraits {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.portraits figure {
    width: 40%;
}

.portraits img {
    box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.75);
    margin-bottom: 4px;
}

figcaption {
    margin-top: 8px;
}

figcaption.nudge-lower {
    margin-top: 12px;
}

.times-new-roman {
    font-family: 'Times New Roman', Times, serif;
}

.stylesheet-toggle-button {
  background-color: #55a;
  border: 2px solid #44a;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: inherit;
  min-height: 60px;
  min-width: 0;
  padding: 16px 24px;
  text-align: center;
  transition: all 250ms ease;
  width: 100%;
}

.stylesheet-toggle-button:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0 8px 15px;
  transform: translateY(-2px);
}

.stylesheet-toggle-button:active {
  box-shadow: none;
  transform: translateY(0);
}